* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "sofia-pro-soft", sans-serif;

}

p {
    color: #12131B;
}

.max-width {
    max-width: 1175px;
    margin: 0 auto;
}

.btn {
    font-size: 18px;
    opacity: 1;
    color: rgba(22, 29, 91, 1);
    font-family: "sofia-pro-soft", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 40px;
    background: #fff;
    border-radius: 28px;

    &.blue {
        background: rgba(22, 29, 91, 1);
        color: #fff;
        font-size: 20px;
        padding: 16px 58px;
    }
}

.heading {
    max-width: 780px;
    margin: 0 auto 24px;
    text-align: center;

    &.bot-marg {
        margin: 0 auto 150px;
    }

    h3 {
        margin-bottom: 24px;
        font-size: 48px;
        color: rgba(22, 29, 91, 1);
        font-weight: 600;
        line-height: 56px;
    }

    p {
        font-size: 20px;
        line-height: 32px;
    }

    &.right {
        max-width: 480px;
        margin: unset;
        text-align: left;
    }
}

.navigation-wrapper {
    z-index: 10;
    position: absolute;
    width: 100%;
    background: transparent;
    padding-top: 32px;

    .navigation {
        display: flex;

        .nav-logo,
        .nav-menu {
            flex: 0 0 50%;
        }

        .nav-menu {
            display: flex;
            align-items: center;
            justify-content: end;
        }

        .nav-logo {
            img {
                width: 154px;
                height: 32px;
            }
        }
    }
}

.homepage-landing {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .navigation-wrapper {
        flex: 0 0 auto;
    }

    .homepage-banner {
        flex: 1 1 auto;
    }
}

.banner {
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(154, 255, 229, 1) 0%, rgba(16, 146, 223, 1) 100%);
        opacity: 0.75;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .banner-wrap {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3005;

        .banner-text {
            text-align: left;
            max-width: 590px;

            h1 {
                font-size: 64px;
                font-weight: 500;
                letter-spacing: 2px;
                margin-bottom: 48px;
                line-height: 72px;
                color: #161D5B;
            }

            h3 {
                font-size: 24px;
                font-weight: 400;
                letter-spacing: 0.5px;
                margin-bottom: 84px;
                color: #000;
                line-height: 42px;
                max-width: 480px;
            }
        }

        .banner-right {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 50px;
        }
    }
}

.general-content {
    padding: 100px 130px;
    background: #fff;

    &.turquoise {
        background: #F0FAF9;
    }

    .general-wrap {
        &.flex {
            display: flex;

            .general-left-image {
                flex: 0 0 580px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .general-right-text {
                flex: 1 1;
                display: flex;
                align-items: center;
                justify-content: end;
            }
        }

        .general-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;

            .grid-el {
                position: relative;
                border-radius: 32px;
                padding: 32px;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 0px 24px 0px rgba(22, 29, 91, 0.10);
                min-height: 368px;
                padding-bottom: 0;

                &:nth-child(1) {
                    img {
                        height: 248px;
                        width: 206px;
                    }
                }

                &:nth-child(2) {
                    img {
                        height: 247px;
                        width: 309px;
                    }


                    &:nth-child(3) {
                        img {
                            height: 249px;
                            width: 252px;
                        }
                    }

                }

                .inner-image {
                    position: absolute;
                    top: -20%;
                    left: 50%;
                    transform: translateX(-50%);

                    img {
                        object-fit: cover;
                        position: relative;

                    }

                }

                .el-inner {
                    position: relative;
                    bottom: 32px;
                    height: 100%;

                    .inner-text {
                        position: absolute;
                        bottom: 0;

                        h4 {
                            font-size: 24px;
                            color: #161D5B;
                            font-weight: 500;
                            margin-bottom: 13px;
                            text-align: left;
                        }

                        p {
                            opacity: 1;
                            color: rgba(18, 19, 27, 1);
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            text-align: left;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}